.anchorbackground{
    -fx-background-color: #652d6b;
}

.anchorrectangle{
    -fx-fill: #a753c2;
    -fx-stroke: #c88adb;
}

.text-field {
    -fx-background-color: #c88adb; /* Light Orange */
    -fx-text-color: #3a1869;
    -fx-background-text: #3a1869;
     /* Dark Red Text Color */
}
.button {
    -fx-background-color: #35148f;
    -fx-display: inline-block;
    -fx-cursor: pointer;
    -fx-color: #692580;
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-padding: 10px 2px;
    -fx-text-decoration: none;
}

.button:hover {
    -fx-background-color: #a863bf;
}

.button:active {
    -fx-position: relative;
    -fx-top: 1px;
}


.textView{
    -fx-background-color: #aa8fcc;
    -fx-text-color: #5919a8;
}


.outputLabel{
    -fx-color: black ;
    -fx-font-family: Arial;
    -fx-font-size: 18px;
}

